<div class="container-fluid pt-4 pb-4">
  <ul class="nav nav-pills justify-content-center" role="tablist">
    <li class="nav-item pr-2">
      <a class="nav-link active" data-toggle="pill" href="#results">Results</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link" data-toggle="pill" href="#favorites">Favorites</a>
    </li>        
  </ul>  
</div>

<div class="container-fluid pt-5" style="display:none;">
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="tab-content">
    <div id="results" class="container-fluid tab-pane active"><br>
      <h5 style="text-align: center;">Forecast at Los Angeles, Los Angeles Country</h5>
      <!-- 收藏btn -->
      <div class="pt-4 pb-3">
        <div class="float-right">
          <button type="button" class="btn btn-outline-dark">
            <i class="bi bi-star"></i>
            <i class="bi bi-star-fill" style="color:#fadc0b; display: none;"></i>
          </button>
          <span class="align-middle" style="color: gray;">&nbsp;&nbsp; Details <i class="bi bi-chevron-right"></i></span>
        </div>
      </div>
      <!-- rst -->
      <div class="container-fluid">
        <!-- Nav tabs -->
        <div class="container-fluid pt-5">
          <ul class="nav nav-tabs justify-content-end" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#dayview">Day View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tmpchart">Daily Temp. Chart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#meteogram">Meteogram</a>
            </li>
          </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content" style="margin-top: -13px;">
          <div id="dayview" class="container-fluid tab-pane active"><br>
            <table class="table" style="text-align: center;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Temp. High (° F)</th>
                  <th>Temp. Low (° F)</th>
                  <th>Wind Speed (mph)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle font-weight-bold">1</td>
                  <td class="align-middle"><a href="#" style="text-decoration: underline;">Wednesday, 06 Oct 2021</a></td>
                  <td class="align-middle">
                    <img style="height:36px; width:36px;" src="https://raw.githubusercontent.com/Tomorrow-IO-API/tomorrow-weather-codes/d53e9d2ffc4d7e182f91d8fda333b189aaea7a13/color/clear_day.svg">
                    <span class="align-middle"> Clear</span>
                  </td>
                  <td class="align-middle">74.64</td>
                  <td class="align-middle">59.7</td>
                  <td class="align-middle">6.96</td>
                </tr>
                <tr>
                  <td class="align-middle font-weight-bold">2</td>
                  <td class="align-middle"><a href="#" style="text-decoration: underline;">Wednesday, 06 Oct 2021</a></td>
                  <td class="align-middle">
                    <img style="height:36px; width:36px;" src="https://raw.githubusercontent.com/Tomorrow-IO-API/tomorrow-weather-codes/d53e9d2ffc4d7e182f91d8fda333b189aaea7a13/color/clear_day.svg">
                    <span class="align-middle"> Clear</span>
                  </td>
                  <td class="align-middle">74.64</td>
                  <td class="align-middle">59.7</td>
                  <td class="align-middle">6.96</td>
                </tr>
                <tr>
                  <td class="align-middle font-weight-bold">3</td>
                  <td class="align-middle"><a href="#" style="text-decoration: underline;">Wednesday, 06 Oct 2021</a></td>
                  <td class="align-middle">
                    <img style="height:36px; width:36px;" src="https://raw.githubusercontent.com/Tomorrow-IO-API/tomorrow-weather-codes/d53e9d2ffc4d7e182f91d8fda333b189aaea7a13/color/clear_day.svg">
                    <span class="align-middle"> Clear</span>
                  </td>
                  <td class="align-middle">74.64</td>
                  <td class="align-middle">59.7</td>
                  <td class="align-middle">6.96</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="tmpchart" class="container-fluid tab-pane fade"><br>
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="meteogram" class="container-fluid tab-pane fade"><br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="favorites" class="container-fluid tab-pane fade"><br>
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
